/* font-family: 'Roboto', sans-serif; */

$mainFont: Roboto,
sans-serif;
$secondaryColor: #ff6a3f;
$mainColor: #ffffff;
$fontColor: #000000;
body {
    width: 100%;
    height: 100%;
    font-family: $mainFont;
    margin: 0;
    color: $fontColor;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    /* Verificar que hacia el final y sin la existencia del grid implícito esto siga funcionando OK */
}

header {
    width: 100%;
    height: 100%;
    background-color: $mainColor;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    align-content: center;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

header nav {
    /* height: 100px; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: 40% 10% 10% 10% 10% 10% 10%;
    grid-row: 2/3;
    gap: 12px;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
}

nav .nav__home {
    font-size: 20px;
    grid-column: 2/3;
    cursor: pointer;
}

nav .nav__product {
    font-size: 20px;
    grid-column: 3/4;
    cursor: pointer;
}

nav .nav__services {
    font-size: 20px;
    grid-column: 4/5;
    cursor: pointer;
}

nav .nav__FAQ {
    font-size: 20px;
    grid-column: 5/6;
    cursor: pointer;
}

nav .nav__icon {
    background-image: url(/assets/shopping_cart.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    grid-column: 6/7;
    cursor: pointer;
}

header nav a {
    text-decoration: none;
    color: $fontColor;
}

main {
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 12%;
    grid-template-columns: 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5%;
}

.main__section {
    grid-row: 2/3;
    grid-column: 2/7;
}

.leftNavigation {
    grid-column: 1/2;
    grid-row: 2/3;
}