/* font-family: 'Roboto', sans-serif; */

$mainFont: Roboto,
sans-serif;
$secondaryColor: #ff6a3f;
$mainColor: #ffffff;
$fontColor: #000000;
body {
    width: 100%;
    height: 100%;
    font-family: $mainFont;
    margin: 0;
    color: $fontColor;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
}

.header {
    width: 100%;
    background-color: $mainColor;
    grid-column: 2/3;
    grid-row: 1/2;
}

.header .header__nav ul {
    margin: 0;
    padding: 0;
}

.header .header__nav ul li {
    text-decoration: none;
}

.header .header__nav ul li a {
    text-decoration: none;
    color: $fontColor;
}

main {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
}

main .description {
    background-color: yellow;
    width: 100%;
}

.price {
    background-color: red;
    width: 100%;
}

.features {
    background-color: orange;
    width: 100%;
}

.buttons {
    background-color: purple;
    width: 100%;
}

.leftNavigation {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    grid-column: 1/2;
    grid-row: 1/2;
}